extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1= page

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut arcu nec dolor sagittis iaculis. Nullam porttitor mi quis tortor tempor, a vulputate nisi vehicula. Maecenas ultricies lectus quis quam placerat, a ornare mi volutpat. Donec egestas ligula et velit porta iaculis. Sed a dictum metus, sit amet dictum augue. Suspendisse pellentesque aliquet nunc, nec gravida augue faucibus a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vulputate nibh eu enim maximus viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                p Quisque faucibus scelerisque cursus. Quisque dictum leo sed enim consectetur pellentesque. Maecenas sit amet est pharetra, consectetur risus vel, bibendum dolor. Aenean semper magna quam, ut pulvinar ex luctus a. Ut ipsum neque, ullamcorper sit amet accumsan et, elementum quis justo. Nulla suscipit felis sodales augue congue luctus. Integer eget leo sollicitudin, lobortis elit id, malesuada ante.

                p Donec aliquam orci massa, ut tempus nunc sodales ac. In nec justo eget ex varius fringilla at ut lacus. Vestibulum rhoncus quis ipsum et malesuada. Phasellus maximus lectus ut ultrices mollis. Proin interdum tellus et nunc lobortis maximus. Vivamus at posuere libero. Nulla cursus tortor eget dignissim lacinia. Curabitur in urna eget magna blandit laoreet tincidunt id ipsum. Nullam vitae mauris in odio pellentesque semper a vel est. Fusce nec scelerisque lorem. Fusce consequat orci ac ex lacinia venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src='img/icono_seguridad.svg', alt="Icono de Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Donec aliquam orci massa, ut tempus nunc sodales ac. In nec justo eget ex varius fringilla at ut lacus.

                .col-md-4
                    img(src='img/icono_destinos.svg', alt="Icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec aliquam orci massa, ut tempus nunc sodales ac. In nec justo eget ex varius fringilla at ut lacus.

                .col-md-4
                    img(src='img/icono_precios.svg', alt="Icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Donec aliquam orci massa, ut tempus nunc sodales ac. In nec justo eget ex varius fringilla at ut lacus.